<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css"></link>
  </head>
  <body>

      <button type="button"><a href="/movies/add-movie">Add a movie</a></button>

    <h1>Movies</h1>
    <ul>
      {{#movies}}
      <li>
        <img src='{{posterURL}}' height="200px" width="auto"/>
        {{title}}
        {{desc}}
        {{genre}}
        <form action='/movies/remove-movie' method='post'>
          <input type="hidden" name="deleteTitle" value={{uuid}}></input>
          <input type="submit" name="" value="Delete">
        </form>
      </li>
      {{/movies}}

      {{^movies}}
      <h3>No movies</h3>
      {{/movies}}
    </ul>
  </body>
</html>
